* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: url(images/bg.jpg);
  color: black;
}

.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-left: 125px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

ul li a:hover {
  color: cyan;
}

/* Page layout */
.container {
  padding: 60px;
  min-height: 80vh;
}

.container p{
    line-height: 1.8;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    opacity: 0;
    animation: slideIn 1s ease forwards;
    animation-delay: 0.2s;
}

@keyframes slideIn{
    from {
        opacity: 0;
        transform: translateX(100px)
    }
    to{
       opacity: 1;
        transform: translateX(0) 
    }
  }

/* (Home) */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text h1  {
  font-size: 60px;
  opacity: 0;
  animation: slideIn 1s ease forwards;
  animation-delay: 0.2s;
}

.hero-text span {
  color: cyan;
}

.hero img {
  width: 350px;
  transition: .5s ease;
  border-radius: 15px;
  animation: slideIn 1.2s ease;
}

@keyframes slideIn{
    from {
        opacity: 0;
        transform: translateX(100px)
    }
    to{
       opacity: 1;
        transform: translateX(0) 
    }
}
.hero img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px cyan;
}

/* Simple cards */
.card {
  background: skyblue;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
   opacity: 0;
  animation: slideIn 1s ease forwards;
  animation-delay: 0.2s;
}

.socials {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.socials a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn{
    from {
        opacity: 0;
        transform: translateX(100px)
    }
    to{
       opacity: 1;
        transform: translateX(0) 
    }
  }

.socials ion-icon{
    font-size: 28px;
    margin-right: 15px;
    color:cyan;
}

.socials a:hover{
    color: cyan;
}